body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/27/07/32/light-1282314_960_720.jpg);
    background-size: cover;
    margin-top: 25px;
}

#app{
    display: grid;
    color:black;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 1px 2px 4px 5px #444;
    margin: auto;
    width: 50vw;
    border-radius: 20%;
  
}

.holder{
    text-align: center;
}

#entryHolder{
    font-size: 30px;
    margin-bottom: 20px;
    display: none;
    text-align: center;
}

#date{
    margin-top: 10px;
}

#temp{
    margin-top: 10px;
}

#content{
    margin-top: 10px;
}

.headline {
    font-size: 40px; 
    margin-top: 20px;
}
.title{
    background: #395C6B;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 25px;
    width: 50%;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
}

input{
    height: 50px;
    width: auto;
    margin: auto;
    text-align: center;
    background-color: #f3efff;
    color:black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid rgba(59, 74, 107, .4);
    margin-top: 10px;
}

button{
    display: block;
    width: 200px;
    height: 50px;
    background: #3b5587;
    cursor: pointer;
    color:#f3efff;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: auto;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}
h1{
    font-size: 36px;
}

textarea{
    background-color: #f3efff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 70%;
    margin-top: 10px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #3b5587; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #3b5587; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #3b5587; 
    font-family: 'Oswald', sans-serif;

} 


@media (max-width: 1000px) {
    #app {
      width: 80vw;
    }
  }



